# Set Default Editor
export EDITOR=vim
# export SHELL=/usr/local/bin/zsh didn't work as expected...

# set $HOME or macOS won't work anymore...
export HOME=/Users/sebastianseitz/

export PATH=$HOME/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH

# put gettext into PATH for pycharm to find (i18n support)
export PATH=/usr/local/opt/gettext/bin:$PATH

export WORKON_HOME=$HOME/.virtualenvs

export LSCOLORS='gxfxcxdxbxGxDxabagacad'  # teal directories..

# MacOS doesn't know the locale...
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# GO Paths
export GOPATH=$HOME/Development/go
export PATH=$PATH:$GOPATH/bin


# pyenv
if command -v pyenv 1>/dev/null 2>&1; then
  eval "$(pyenv init -)"
fi
